<br>

# Introdução

In [1]:
#!pip3 install traquitanas --upgrade
#!pip3 install -r requirements.txt
#!/usr/local/bin/python -m pip install --upgrade pip

In [2]:
from paths import *
print(project_path)

/workspaces/acp-399-01
/workspaces/acp-399-01

In [3]:
import os
import shutil
import folium
import fnmatch
import pandas as pd
import geopandas as gpd

#from osgeo import ogr
from folium import plugins
from zipfile import ZipFile

In [4]:
from traquitanas.geo import layers as tt

<br>

Inicialmente extraímos todos os arquivos de dentro do zip "Shape.zip".

In [7]:
zipfile_path = input_path / 'Shapes.zip'

with ZipFile(zipfile_path, 'r') as zip_obj:    
    zip_obj.extractall(temp_path)

<br>

Uma vez com os arquivos soltos, foi possível observar grande desorganização dos arquivos. Não há qualquer padrão de nomenclatura. Alguns *shapefiles* existem para algumas nascentes, enquanto para outra snão existe.<br>
Como o objetivo principal do trabalho é identificar a localização das 56 nascentes que são mencionadas no TAC, optou-se por concentrar os esforços nestas feições.

In [8]:
list_shps = []

for root, dirs, files in os.walk(temp_path):
    if os.path.basename(root).startswith('Nascente'):
        print('')
        print(root)
        for file in fnmatch.filter(files, '*.shp'):
            print(f'> {file}')
            list_shps.append(file)

/workspaces/acp-399-01/data/input/temp/Nascente 37
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 35
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 41
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 49
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 14
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 30
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 46
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 38
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 5
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 19
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 43
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 24
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 31
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 17
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 29
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 7
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Area_Drenagem.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 12
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 21
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 26
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 2
> Area_drenagem.shp
> APP.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 34
> Area_drenagem.shp
> APP_nascente.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 40
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 10
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 56
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 16
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 48
> Area_drenagem.shp
> APP_nascente.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 27
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 6
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 52
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 25
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 3
> Area_drenagem.shp
> APP.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 51
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 1
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Pontos_geofisica.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 20
> Area_drenagem.shp
> APP_nascente.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 11
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 8
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Area_Drenagem.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 54
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 44
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 47
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 36
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 13
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 53
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 42
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 23
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/30_03_17/Nascente 14
> Recuperacao_curso_dagua.shp

/workspaces/acp-399-01/data/input/temp/30_03_17/Nascente 7
> Recuperacao_curso_agua.shp

/workspaces/acp-399-01/data/input/temp/30_03_17/Nascente 4
> Recuperacao_curso_agua.shp
> Uso_solo_curso_agua.shp

/workspaces/acp-399-01/data/input/temp/30_03_17/Nascente 9
> Recuperacao_cursodagua.shp
> Uso_solo_hidrografia.shp
> Recuperacao_nascente.shp

/workspaces/acp-399-01/data/input/temp/Nascente 39
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 4
> APP.shp
> area_Conservacao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> area_drenagem.shp
> Pontos_geofisica.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 33
> Area_drenagem.shp
> APP_nascente.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 50
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 55
> Area_drenagem.shp
> APP_nascente.shp
> Recomposicao.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 32
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 22
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 15
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 45
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 28
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 18
> Area_drenagem.shp
> APP_nascente.shp
> Uso_solo_app_nasc.shp
> Geologia.shp
> Nascente.shp
> Uso_solo_area_drenagem.shp

/workspaces/acp-399-01/data/input/temp/Nascente 9
> Area_drenagem.shp
> APP.shp
> Uso_solo_app_curso_dagua.shp
> Uso_solo_app_nasc.shp
> Area_conservacao.shp
> Geologia.shp
> APP_total.shp
> Nascente.shp
> Uso_solo_APP.shp
> Uso_solo_area_drenagem.shp

In [9]:
list_shps = list(set(list_shps))
list_shps.sort()
list_shps

['APP.shp',
 'APP_nascente.shp',
 'APP_total.shp',
 'Area_Drenagem.shp',
 'Area_conservacao.shp',
 'Area_drenagem.shp',
 'Geologia.shp',
 'Nascente.shp',
 'Pontos_geofisica.shp',
 'Recomposicao.shp',
 'Recuperacao_curso_agua.shp',
 'Recuperacao_curso_dagua.shp',
 'Recuperacao_cursodagua.shp',
 'Recuperacao_nascente.shp',
 'Uso_solo_APP.shp',
 'Uso_solo_app_curso_dagua.shp',
 'Uso_solo_app_nasc.shp',
 'Uso_solo_area_drenagem.shp',
 'Uso_solo_curso_agua.shp',
 'Uso_solo_hidrografia.shp',
 'area_Conservacao.shp',
 'area_drenagem.shp']

<br>

## Junta shapefiles por Nome

Com a lista dos possíveis nomes de shapefiles, juntou-se todos os arquivos.

In [10]:
def merge_shp_by_name(shp, path):
    """
    path: pasta root que tem os shapefiles
    
    """
    # Add Fields
    print('\n{}'.format(shp))
    for root, dirs, files in os.walk(path):
        if os.path.basename(root).startswith('Nascente'):
            for file in fnmatch.filter(files, '*.shp'):
                if file in [shp]:
                    # Read
                    temp = os.path.join(root, file)
                    gdf = gpd.read_file(temp)
                    gdf.columns = [x.lower() for x in gdf.columns]

                    # Delete Fields
                    #for col in ['Id', 'path', 'nascente']:
                    gdf.drop([
                        'Id', 'path',
                        'nascente', 'Nascente',
                        'numero', 'x', 'y',
                        'BUFF_DIST', 'buff_dist',
                        'nascente_1'
                        'nascente_1', 'nascente_2',
                        'nascente_3', 'nascente_4',
                        'nascente_5'],
                        axis=1,
                        errors='ignore',
                        inplace=True,
                    )
                    
                    # Add Fields
                    gdf['path'] = temp
                    dirname = os.path.dirname(temp)
                    dirname = os.path.basename(dirname)
                    nascente_number = int(dirname.split(' ', maxsplit=1)[-1])
                    gdf['nascente'] = nascente_number

                    # Save Output
                    gdf.to_file(temp)

    # Lista Files
    print(gdf.columns)
    list_files = []                
    for root, dirs, files in os.walk(path):
        if os.path.basename(root).startswith('Nascente'):
            for file in fnmatch.filter(files, '*.shp'):
                if file in [shp]:
                    temp = os.path.join(root, file)
                    list_files.append(temp)

    # Combine all shapefiles
    gdf = gpd.GeoDataFrame(
        pd.concat(
            [gpd.read_file(i) for i in list_files],
            ignore_index=True
        ),
        crs=gpd.read_file(list_files[0]).crs
    )

    # Save Output
    gdf.to_file(os.path.join(output_path, shp))
    display(gdf)
    return gdf

In [11]:
for shp in list_shps:
    gdf = merge_shp_by_name(shp, temp_path)

APP.shp
Index(['id', 'prioridade', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,prioridade,area,path,nascente,geometry
0,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,14,"POLYGON ((248255.632 7515114.713, 248261.899 7..."
1,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,5,"POLYGON ((248801.925 7517497.654, 248808.192 7..."
2,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,7,"POLYGON ((249280.337 7516753.212, 249286.604 7..."
3,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,12,"POLYGON ((251858.104 7514488.289, 251864.371 7..."
4,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248131.028 7516717.435, 248137.295 7..."
5,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,10,"POLYGON ((250902.507 7516125.816, 250908.773 7..."
6,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249086.609 7517066.833, 249092.876 7..."
7,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"POLYGON ((248148.184 7516816.967, 248154.450 7..."
8,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,11,"POLYGON ((251190.751 7515714.262, 251197.018 7..."
9,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,8,"POLYGON ((249099.808 7516533.489, 249106.075 7..."
10,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,13,"POLYGON ((249854.327 7514452.302, 249860.593 7..."
11,0,1,NaN,/workspaces/acp-399-01/data/input/temp/Nascent...,4,"POLYGON ((248260.249 7517438.358, 248266.516 7..."
12,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,15,"POLYGON ((246438.065 7514275.702, 246444.332 7..."
13,0,1,7833.33,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251165.295 7517071.323, 251171.561 7..."

APP_nascente.shp
Index(['id', 'prioridade', 'geometry', 'path', 'nascente'], dtype='object')

,id,prioridade,path,nascente,geometry
0,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"POLYGON ((245346.435 7512209.416, 245352.701 7..."
1,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245301.958 7511848.120, 245308.224 7..."
2,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,41,"POLYGON ((250025.970 7510431.678, 250032.237 7..."
3,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,49,"POLYGON ((249210.992 7510649.188, 249217.259 7..."
4,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,30,"POLYGON ((244920.865 7508590.985, 244927.132 7..."
5,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,46,"POLYGON ((251969.603 7508302.439, 251975.870 7..."
6,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,38,"POLYGON ((249291.152 7512206.506, 249297.418 7..."
7,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,19,"POLYGON ((252556.721 7512267.881, 252562.988 7..."
8,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,43,"POLYGON ((251505.927 7510071.764, 251512.193 7..."
9,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,24,"POLYGON ((244859.110 7507199.748, 244865.377 7..."
10,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,31,"POLYGON ((247705.081 7509085.228, 247711.348 7..."
11,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,17,"POLYGON ((248643.391 7512397.890, 248649.657 7..."
12,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,29,"POLYGON ((243919.151 7507578.158, 243925.417 7..."
13,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,21,"POLYGON ((247089.556 7506340.071, 247095.822 7..."
14,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,26,"POLYGON ((244807.252 7507574.399, 244813.518 7..."
15,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,34,"POLYGON ((247192.231 7511103.689, 247198.498 7..."
16,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,40,"POLYGON ((249845.200 7513153.474, 249851.467 7..."
17,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,56,"POLYGON ((248856.550 7509422.837, 248862.817 7..."
18,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,16,"POLYGON ((248257.928 7513311.949, 248264.195 7..."
19,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251325.877 7511531.174, 251332.144 7..."
20,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,27,"POLYGON ((244992.460 7508005.141, 244998.727 7..."
21,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,52,"POLYGON ((246294.126 7508322.844, 246300.392 7..."
22,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,25,"POLYGON ((245075.010 7507445.282, 245081.277 7..."
23,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,51,"POLYGON ((245317.696 7508397.632, 245323.963 7..."
24,0,1,/workspaces/acp-399-01/data/input/temp/Nascent...,1,"POLYGON ((246892.758 7517708.757, 246899.025 7..."
25,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,20,"POLYGON ((249614.484 7508712.835, 249620.751 7..."
26,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,54,"POLYGON ((248018.093 7507704.337, 248024.360 7..."
27,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,44,"POLYGON ((252126.376 7509560.390, 252132.643 7..."
28,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,47,"POLYGON ((251884.458 7507048.435, 251890.725 7..."
29,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,36,"POLYGON ((245490.294 7511869.980, 245496.561 7..."
30,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,53,"POLYGON ((247725.199 7507892.633, 247731.466 7..."
31,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,42,"POLYGON ((251651.838 7510598.366, 251658.105 7..."
32,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,23,"POLYGON ((245446.310 7506818.571, 245452.576 7..."
33,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,39,"POLYGON ((248430.665 7514615.385, 248436.931 7..."
34,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,33,"POLYGON ((247197.975 7510954.344, 247204.242 7..."
35,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,50,"POLYGON ((247901.600 7512641.271, 247907.867 7..."
36,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,55,"POLYGON ((249623.493 7508578.526, 249629.760 7..."
37,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,32,"POLYGON ((245688.952 7510161.819, 245695.219 7..."
38,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,22,"POLYGON ((247670.959 7506944.452, 247677.226 7..."
39,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,45,"POLYGON ((252107.061 7509098.427, 252113.328 7..."
40,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,28,"POLYGON ((244414.452 7507782.946, 244420.718 7..."
41,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251156.544 7511548.107, 251162.810 7..."

APP_total.shp
Index(['id', 'nome', 'geometry', 'path', 'nascente'], dtype='object')

,id,nome,path,nascente,geometry
0,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251183.701 7516974.834, 251177.729 7..."

Area_Drenagem.shp
Index(['id', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,path,nascente,geometry
0,0,66697.1,/workspaces/acp-399-01/data/input/temp/Nascent...,7,"POLYGON ((249280.337 7516703.212, 249330.748 7..."
1,0,62349.6,/workspaces/acp-399-01/data/input/temp/Nascent...,8,"POLYGON ((249243.772 7516372.307, 249246.967 7..."

Area_conservacao.shp
Index(['id', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,path,nascente,geometry
0,0,170673.0,/workspaces/acp-399-01/data/input/temp/Nascent...,14,"POLYGON ((248217.106 7515096.584, 248195.203 7..."
1,0,185404.0,/workspaces/acp-399-01/data/input/temp/Nascent...,5,"POLYGON ((248730.996 7517467.205, 248696.083 7..."
2,0,62581.4,/workspaces/acp-399-01/data/input/temp/Nascent...,7,"POLYGON ((249230.436 7516700.072, 249230.906 7..."
3,0,962117.0,/workspaces/acp-399-01/data/input/temp/Nascent...,12,"POLYGON ((253094.368 7514710.272, 253094.368 7..."
4,0,101035.0,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((247705.882 7516754.664, 247704.625 7..."
5,0,736538.0,/workspaces/acp-399-01/data/input/temp/Nascent...,10,"POLYGON ((250868.303 7516112.394, 250864.510 7..."
6,0,388493.0,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249086.609 7517066.833, 249080.411 7..."
7,0,130509.0,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"POLYGON ((248182.411 7516803.415, 248177.573 7..."
8,0,914087.0,/workspaces/acp-399-01/data/input/temp/Nascent...,1,"POLYGON ((246552.090 7518606.899, 246553.665 7..."
9,0,493508.0,/workspaces/acp-399-01/data/input/temp/Nascent...,11,"POLYGON ((251156.524 7515700.711, 251155.722 7..."
10,0,59535.3,/workspaces/acp-399-01/data/input/temp/Nascent...,8,"POLYGON ((249061.282 7516451.618, 249065.581 7..."
11,0,212208.0,/workspaces/acp-399-01/data/input/temp/Nascent...,13,"POLYGON ((250013.429 7514629.057, 250056.291 7..."
12,0,338991.0,/workspaces/acp-399-01/data/input/temp/Nascent...,15,"POLYGON ((246407.360 7514280.820, 246413.740 7..."
13,0,49625.6,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251159.360 7517075.339, 251156.141 7..."

Area_drenagem.shp
Index(['id', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,path,nascente,geometry,uso
0,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"POLYGON ((245346.435 7512159.416, 245338.166 7...",NaN
1,0,351158.0,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245301.958 7511798.120, 245352.716 7...",NaN
2,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,41,"POLYGON ((250025.970 7510381.678, 249996.033 7...",NaN
3,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,49,"POLYGON ((249210.992 7510599.188, 249174.797 7...",NaN
4,0,174139.0,/workspaces/acp-399-01/data/input/temp/Nascent...,14,"POLYGON ((248255.632 7515064.713, 248160.519 7...",NaN
5,0,50203.5,/workspaces/acp-399-01/data/input/temp/Nascent...,30,"POLYGON ((244920.865 7508540.985, 244945.924 7...",NaN
6,0,971324.0,/workspaces/acp-399-01/data/input/temp/Nascent...,46,"POLYGON ((251969.603 7508252.439, 251940.304 7...",NaN
7,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,38,"POLYGON ((249291.152 7512156.506, 249223.914 7...",NaN
8,0,188983.0,/workspaces/acp-399-01/data/input/temp/Nascent...,5,"POLYGON ((248779.680 7517455.564, 248730.996 7...",NaN
9,0,150603.0,/workspaces/acp-399-01/data/input/temp/Nascent...,19,"POLYGON ((252556.721 7512217.881, 252570.460 7...",NaN
10,0,204131.0,/workspaces/acp-399-01/data/input/temp/Nascent...,43,"POLYGON ((251505.927 7510021.764, 251452.468 7...",NaN
11,0,77244.9,/workspaces/acp-399-01/data/input/temp/Nascent...,24,"POLYGON ((245023.583 7506804.712, 244998.392 7...",NaN
12,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,31,"POLYGON ((247705.081 7509035.228, 247771.729 7...",NaN
13,0,92843.0,/workspaces/acp-399-01/data/input/temp/Nascent...,17,"POLYGON ((248643.391 7512347.890, 248613.790 7...",NaN
14,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,29,"POLYGON ((243919.151 7507528.158, 243984.515 7...",NaN
15,0,965465.0,/workspaces/acp-399-01/data/input/temp/Nascent...,12,"POLYGON ((251871.674 7514439.365, 251844.014 7...",NaN
16,0,1045810.0,/workspaces/acp-399-01/data/input/temp/Nascent...,21,"POLYGON ((247089.556 7506290.071, 247068.339 7...",NaN
17,0,123439.0,/workspaces/acp-399-01/data/input/temp/Nascent...,26,"POLYGON ((244438.348 7507302.298, 244428.942 7...",NaN
18,0,104438.0,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248131.051 7516667.029, 248137.434 7...",NaN
19,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,34,"POLYGON ((247192.231 7511053.689, 247179.062 7...",NaN
20,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,40,"POLYGON ((249845.200 7513103.474, 249763.321 7...",NaN
21,0,738286.0,/workspaces/acp-399-01/data/input/temp/Nascent...,10,"POLYGON ((250902.530 7516075.945, 250831.387 7...",NaN
22,0,53962.8,/workspaces/acp-399-01/data/input/temp/Nascent...,56,"POLYGON ((248856.550 7509372.837, 248866.797 7...",NaN
23,0,230202.0,/workspaces/acp-399-01/data/input/temp/Nascent...,16,"POLYGON ((248257.928 7513261.949, 248254.044 7...",NaN
24,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251325.877 7511481.174, 251375.193 7...",NaN
25,0,115951.0,/workspaces/acp-399-01/data/input/temp/Nascent...,27,"POLYGON ((244801.435 7508449.724, 244808.836 7...",NaN
26,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249487.870 7516967.539, 249347.641 7...",0.0
27,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249487.870 7516967.539, 249347.641 7...",0.0
28,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,52,"POLYGON ((246294.126 7508272.844, 246345.516 7...",NaN
29,0,216877.0,/workspaces/acp-399-01/data/input/temp/Nascent...,25,"POLYGON ((245021.360 7506808.487, 244998.392 7...",NaN
30,0,134282.0,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"POLYGON ((248148.184 7516766.967, 248110.222 7...",NaN
31,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,51,"POLYGON ((245317.696 7508347.632, 245320.738 7...",NaN
32,0,917585.0,/workspaces/acp-399-01/data/input/temp/Nascent...,1,"POLYGON ((246906.328 7517659.833, 246856.637 7...",NaN
33,0,42397.1,/workspaces/acp-399-01/data/input/temp/Nascent...,20,"POLYGON ((249614.484 7508662.835, 249651.407 7...",NaN
34,0,497653.0,/workspaces/acp-399-01/data/input/temp/Nascent...,11,"POLYGON ((251190.751 7515664.262, 251142.537 7...",NaN
35,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,54,"POLYGON ((248018.093 7507654.337, 248084.417 7...",NaN
36,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,44,"POLYGON ((252126.376 7509510.390, 252087.205 7...",NaN
37,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,47,"POLYGON ((253618.850 7507944.546, 253487.765 7...",NaN
38,0,469873.0,/workspaces/acp-399-01/data/input/temp/Nascent...,36,"POLYGON ((245490.294 7511819.980, 245520.727 7...",NaN
39,0,215356.0,/workspaces/acp-399-01/data/input/temp/Nascent...,13,"POLYGON ((249853.947 7514406.479, 249856.266 7...",NaN
40,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,53,"POLYGON ((247725.199 7507842.633, 247736.279 7...",NaN
41,0,933304.0,/workspaces/acp-399-01/data/input/temp/Nascent...,42,"POLYGON ((251651.838 7510548.366, 251588.067 7...",NaN
42,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,23,"POLYGON ((245446.310 7506768.571, 245496.238 7...",NaN
43,0,160334.0,/workspaces/acp-399-01/data/input/temp/Nascent...,39,"POLYGON ((248430.665 7514565.385, 248384.230 7...",NaN
44,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,33,"POLYGON ((247197.975 7510904.344, 247237.799 7...",NaN
45,0,244101.0,/workspaces/acp-399-01/data/input/temp/Nascent...,50,"POLYGON ((247901.600 7512591.271, 247897.174 7...",NaN
46,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,55,"POLYGON ((249623.493 7508528.526, 249625.690 7...",NaN
47,0,1219820.0,/workspaces/acp-399-01/data/input/temp/Nascent...,32,"POLYGON ((244861.161 7510921.048, 244912.372 7...",NaN
48,0,356087.0,/workspaces/acp-399-01/data/input/temp/Nascent...,22,"POLYGON ((247670.959 7506894.452, 247721.479 7...",NaN
49,0,342260.0,/workspaces/acp-399-01/data/input/temp/Nascent...,15,"POLYGON ((246438.065 7514225.702, 246436.994 7...",NaN
50,0,0.0,/workspaces/acp-399-01/data/input/temp/Nascent...,45,"POLYGON ((252107.061 7509048.427, 252047.164 7...",NaN
51,0,107826.0,/workspaces/acp-399-01/data/input/temp/Nascent...,28,"POLYGON ((244414.452 7507732.946, 244474.762 7...",NaN
52,0,366844.0,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251156.544 7511498.107, 251204.904 7...",NaN
53,0,49106.9,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251188.749 7517034.888, 251114.862 7...",NaN

Geologia.shp
Index(['id', 'area', 'sigla', 'geol', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,sigla,geol,path,nascente,geometry
0,0,0.0,Pc,Pc-Gr. Passa Dois-Fm Corumbataí,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"POLYGON ((245277.312 7512017.510, 245227.041 7..."
1,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245273.369 7510991.831, 245223.975 7..."
2,0,0.0,Pc,Pc-Gr. Passa Dois-Fm Corumbataí,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245390.816 7511368.065, 245349.910 7..."
3,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,41,"POLYGON ((249891.258 7510112.153, 249834.108 7..."
4,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,49,"POLYGON ((249002.567 7510453.862, 248996.861 7..."
...,...,...,...,...,...,...,...
68,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,45,"MULTIPOLYGON (((252109.667 7509273.385, 252037..."
69,0,0.0,Pi,Pi-Gr. Passa Dois-Fm Irati,/workspaces/acp-399-01/data/input/temp/Nascent...,45,"MULTIPOLYGON (((252375.119 7509380.856, 252378..."
70,0,0.0,TrJp,TrJp-Gr. São Bento-Fm Pirambóia,/workspaces/acp-399-01/data/input/temp/Nascent...,28,"POLYGON ((244283.858 7507267.620, 244275.114 7..."
71,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251352.541 7510709.137, 251327.141 7..."
72,0,0.0,JKß,JKß-Gr. São Bento-Fm Serra Geral-Rochas Intrus...,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251347.696 7517002.771, 251306.685 7..."

Nascente.shp
Index(['id', 'prioridade', 'geometry', 'path', 'nascente'], dtype='object')

,id,prioridade,path,nascente,geometry
0,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,37,POINT (245346.435 7512159.416)
1,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,35,POINT (245301.958 7511798.120)
2,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,41,POINT (250025.970 7510381.678)
3,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,49,POINT (249210.992 7510599.188)
4,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,14,POINT (248250.732 7515072.904)
5,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,30,POINT (244920.865 7508540.985)
6,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,46,POINT (251969.603 7508252.439)
7,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,38,POINT (249291.152 7512156.506)
8,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,5,POINT (248788.355 7517446.578)
9,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,19,POINT (252556.721 7512217.881)
10,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,43,POINT (251505.927 7510021.764)
11,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,24,POINT (244859.110 7507149.748)
12,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,31,POINT (247705.081 7509035.228)
13,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,17,POINT (248643.391 7512347.890)
14,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,29,POINT (243919.151 7507528.158)
15,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,7,POINT (249266.767 7516702.136)
16,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,12,POINT (251858.104 7514438.289)
17,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,21,POINT (247089.556 7506290.071)
18,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,26,POINT (244807.252 7507524.399)
19,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,2,POINT (248117.482 7516665.953)
20,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,34,POINT (247192.231 7511053.689)
21,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,40,POINT (249845.200 7513103.474)
22,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,10,POINT (250906.105 7516079.837)
23,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,56,POINT (248856.550 7509372.837)
24,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,16,POINT (248257.928 7513261.949)
25,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,48,POINT (251325.877 7511481.174)
26,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,27,POINT (244992.460 7507955.141)
27,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,6,POINT (249087.896 7517028.773)
28,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,52,POINT (246294.126 7508272.844)
29,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,25,POINT (245075.010 7507395.282)
30,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,3,POINT (248134.614 7516765.891)
31,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,51,POINT (245317.696 7508347.632)
32,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246906.328 7517659.833)
33,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,20,POINT (249614.484 7508662.835)
34,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,11,POINT (251177.181 7515663.186)
35,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,8,POINT (249084.471 7516481.018)
36,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,54,POINT (248018.093 7507654.337)
37,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,44,POINT (252126.376 7509510.390)
38,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,47,POINT (251884.458 7506998.435)
39,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,36,POINT (245490.294 7511819.980)
40,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,13,POINT (249854.136 7514402.228)
41,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,53,POINT (247725.199 7507842.633)
42,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,42,POINT (251651.838 7510548.366)
43,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,23,POINT (245446.310 7506768.571)
44,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,39,POINT (248430.665 7514565.385)
45,0,1,/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248228.753 7517374.462)
46,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,33,POINT (247197.975 7510904.344)
47,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,50,POINT (247901.600 7512591.271)
48,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,55,POINT (249623.493 7508528.526)
49,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,32,POINT (245688.952 7510111.819)
50,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,22,POINT (247670.959 7506894.452)
51,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,15,POINT (246424.495 7514224.626)
52,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,45,POINT (252107.061 7509048.427)
53,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,28,POINT (244414.452 7507732.946)
54,0,2,/workspaces/acp-399-01/data/input/temp/Nascent...,18,POINT (251156.544 7511498.107)
55,0,0,/workspaces/acp-399-01/data/input/temp/Nascent...,9,POINT (251165.295 7517021.323)

Pontos_geofisica.shp
Index(['ponto', 'na', 'cota_terr', 'cota_na', 'geometry', 'path', 'nascente'], dtype='object')

,pontos,na,cota_terr,cota_na,path,nascente,geometry,ponto
0,1.0,0.0,"677,08",None,/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246906.000 7517660.000),NaN
1,2.0,0.0,"686,91","686,91",/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246795.000 7517813.000),NaN
2,3.0,0.0,"687,45","687,45",/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246684.000 7517679.000),NaN
3,4.0,0.0,"685,90","685,90",/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246595.000 7517708.000),NaN
4,5.0,0.0,"686,48","686,48",/workspaces/acp-399-01/data/input/temp/Nascent...,1,POINT (246753.000 7517666.000),NaN
...,...,...,...,...,...,...,...,...
87,NaN,0.0,None,"0,00",/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248168.235 7517421.217),39.0
88,NaN,0.0,None,"0,00",/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248156.518 7517421.217),40.0
89,NaN,0.0,None,"0,00",/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248144.508 7517420.338),41.0
90,NaN,0.0,None,"0,00",/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248132.792 7517420.338),42.0
91,NaN,0.0,None,"0,00",/workspaces/acp-399-01/data/input/temp/Nascent...,4,POINT (248121.954 7517419.460),43.0

Recomposicao.shp
Index(['id', 'area', 'uso', 'classe', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,classe,path,nascente,geometry
0,0,0.010013,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248080.393 7516651.290, 248069.959 7..."
1,0,0.016963,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248132.198 7516638.736, 248130.797 7..."
2,0,0.001844,4,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248132.198 7516638.736, 248132.385 7..."
3,0,0.029475,4,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,34,"MULTIPOLYGON (((247163.885 7511094.802, 247161..."
4,0,0.021844,1,None,/workspaces/acp-399-01/data/input/temp/Nascent...,34,"POLYGON ((247190.240 7511018.342, 247166.052 7..."
5,0,0.000000,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,34,"POLYGON ((247166.052 7511011.201, 247190.240 7..."
6,0,0.001255,6,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251332.144 7511431.568, 251325.877 7..."
7,0,0.034048,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251374.130 7511493.898, 251325.877 7..."
8,0,0.000463,6,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251307.173 7511435.058, 251307.047 7..."
9,0,0.002004,6,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,48,"POLYGON ((251317.937 7511457.415, 251282.789 7..."
10,0,0.010013,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"MULTIPOLYGON (((248085.517 7516774.171, 248089..."
11,0,0.016963,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"POLYGON ((248140.880 7516716.285, 248134.614 7..."
12,0,0.009520,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,20,"POLYGON ((249564.874 7508657.386, 249564.583 7..."
13,0,0.071297,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,20,"POLYGON ((249564.874 7508657.386, 249564.586 7..."
14,0,0.021844,1,None,/workspaces/acp-399-01/data/input/temp/Nascent...,33,"POLYGON ((247181.611 7510889.989, 247208.789 7..."
15,0,0.000000,0,None,/workspaces/acp-399-01/data/input/temp/Nascent...,33,"POLYGON ((247181.611 7510889.989, 247181.507 7..."
16,0,0.071297,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,55,"POLYGON ((249629.760 7508478.921, 249623.493 7..."

Recuperacao_curso_agua.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,12458.00,1,Vegetação Nativa,/workspaces/acp-399-01/data/input/temp/30_03_1...,7,"POLYGON ((249024.375 7516831.537, 249033.941 7..."
1,0,2767.59,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,7,"POLYGON ((249160.913 7516756.201, 249177.566 7..."
2,0,9439.55,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,4,"MULTIPOLYGON (((248506.251 7516724.817, 248505..."
3,0,27224.10,2,Cana,/workspaces/acp-399-01/data/input/temp/30_03_1...,4,"POLYGON ((248515.075 7516760.614, 248499.688 7..."

Recuperacao_curso_dagua.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,26170.00,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/30_03_1...,14,"POLYGON ((247863.375 7514721.598, 247845.669 7..."
1,0,21703.10,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/30_03_1...,14,"MULTIPOLYGON (((247444.558 7514476.657, 247416..."
2,0,5824.32,2,Compensação,/workspaces/acp-399-01/data/input/temp/30_03_1...,14,"POLYGON ((247743.021 7514660.042, 247739.428 7..."

Recuperacao_cursodagua.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,29144.0,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250237.985 7515543.349, 250230..."
1,0,37182.4,1,Vegetação Nativa,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250245.869 7515649.024, 250237..."
2,0,54458.9,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250188.031 7515601.436, 250181..."

Recuperacao_nascente.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,7833.33,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"POLYGON ((251103.950 7516874.322, 251097.683 7..."

Uso_solo_APP.shp
Index(['id', 'uso', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,uso,area,path,nascente,geometry
0,0,1.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,14,"POLYGON ((248214.462 7515038.074, 248211.437 7..."
1,0,2.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,5,"POLYGON ((248801.925 7517497.654, 248808.192 7..."
2,0,2.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,7,"POLYGON ((249238.120 7516730.003, 249241.811 7..."
3,0,1.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,12,"POLYGON ((251842.285 7514398.914, 251837.447 7..."
4,0,4.0,1421.200,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248106.964 7516623.214, 248115.320 7..."
5,0,1.0,6412.130,/workspaces/acp-399-01/data/input/temp/Nascent...,2,"POLYGON ((248180.166 7516657.660, 248154.346 7..."
6,0,6.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,10,"POLYGON ((250860.314 7516049.154, 250857.289 7..."
7,0,1.0,789.132,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249039.056 7517032.284, 249074.175 7..."
8,0,2.0,7044.200,/workspaces/acp-399-01/data/input/temp/Nascent...,6,"POLYGON ((249039.056 7517032.284, 249041.368 7..."
9,0,1.0,7831.710,/workspaces/acp-399-01/data/input/temp/Nascent...,3,"POLYGON ((248191.442 7516742.070, 248190.400 7..."
10,0,1.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,1,"POLYGON ((246906.328 7517709.833, 246912.595 7..."
11,0,1.0,1499.140,/workspaces/acp-399-01/data/input/temp/Nascent...,11,"POLYGON ((251141.637 7515654.893, 251140.850 7..."
12,0,6.0,6334.190,/workspaces/acp-399-01/data/input/temp/Nascent...,11,"POLYGON ((251190.751 7515714.262, 251197.018 7..."
13,0,2.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,8,"POLYGON ((249070.419 7516523.940, 249075.720 7..."
14,0,1.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,13,"POLYGON ((249815.421 7514438.350, 249819.720 7..."
15,0,1.0,1993.300,/workspaces/acp-399-01/data/input/temp/Nascent...,4,"POLYGON ((248255.413 7517342.945, 248261.309 7..."
16,0,2.0,5839.590,/workspaces/acp-399-01/data/input/temp/Nascent...,4,"POLYGON ((248316.035 7517362.642, 248312.993 7..."
17,0,1.0,7833.330,/workspaces/acp-399-01/data/input/temp/Nascent...,15,"POLYGON ((246403.838 7514189.254, 246399.539 7..."
18,0,1.0,2256.970,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251156.141 7517072.676, 251187.758 7..."
19,0,2.0,5567.240,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251188.749 7517034.888, 251156.141 7..."

Uso_solo_app_curso_dagua.shp
Index(['id', 'area', 'uso', 'recomposic', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,recomposic,path,nascente,geometry
0,0,46414.40,1,Vegetação Nativa,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"MULTIPOLYGON (((250248.015 7515397.237, 250243..."
1,0,59935.60,7,Enriquecimento,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"MULTIPOLYGON (((250167.205 7515369.282, 250156..."
2,0,30098.70,2,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"MULTIPOLYGON (((250250.533 7515943.139, 250246..."
3,0,4031.67,3,Reflorestamento,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"MULTIPOLYGON (((250255.923 7516180.659, 250254..."

Uso_solo_app_nasc.shp
Index(['id', 'area', 'uso', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,path,nascente,geometry
0,0,1108.73,4.0,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"MULTIPOLYGON (((245308.214 7512149.765, 245300..."
1,0,5238.65,7.0,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"POLYGON ((245350.888 7512174.547, 245351.780 7..."
2,0,6929.32,7.0,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245344.174 7511824.911, 245347.199 7..."
3,0,2965.10,4.0,/workspaces/acp-399-01/data/input/temp/Nascent...,41,"POLYGON ((250055.731 7510341.535, 250039.573 7..."
4,0,3412.83,2.0,/workspaces/acp-399-01/data/input/temp/Nascent...,41,"POLYGON ((250049.657 7510359.083, 250015.381 7..."
...,...,...,...,...,...,...
95,0,2474910.00,2.0,/workspaces/acp-399-01/data/input/temp/Nascent...,28,"POLYGON ((244420.718 7507683.340, 244414.452 7..."
96,0,1048.28,1.0,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251123.866 7511460.377, 251122.316 7..."
97,0,6785.05,7.0,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251123.866 7511460.377, 251127.683 7..."
98,0,4868.50,7.0,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251151.049 7517022.805, 251162.304 7..."
99,0,2964.83,2.0,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251165.580 7516976.110, 251162.304 7..."

Uso_solo_area_drenagem.shp
Index(['id', 'area', 'uso', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,path,nascente,geometry
0,0,129500.00,4,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"POLYGON ((245380.482 7512230.922, 245344.858 7..."
1,0,22437.20,7,/workspaces/acp-399-01/data/input/temp/Nascent...,37,"MULTIPOLYGON (((245315.250 7512145.861, 245321..."
2,0,128862.00,4,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"MULTIPOLYGON (((245273.369 7510991.831, 245223..."
3,0,17059.90,1,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"POLYGON ((245070.593 7511534.032, 245033.552 7..."
4,0,96312.10,2,/workspaces/acp-399-01/data/input/temp/Nascent...,35,"MULTIPOLYGON (((245149.969 7510983.698, 245160..."
...,...,...,...,...,...,...
165,0,150882.00,2,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251092.706 7511420.491, 251111.756 7..."
166,0,132558.00,5,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251438.266 7511113.950, 251443.029 7..."
167,0,4590.60,7,/workspaces/acp-399-01/data/input/temp/Nascent...,18,"POLYGON ((251245.555 7511454.437, 251192.189 7..."
168,0,1700.85,7,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251203.607 7517041.132, 251208.516 7..."
169,0,51489.10,2,/workspaces/acp-399-01/data/input/temp/Nascent...,9,"POLYGON ((251459.579 7517073.205, 251430.084 7..."

Uso_solo_curso_agua.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,36883.60,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,4,"POLYGON ((248458.435 7516719.726, 248499.688 7..."
1,0,8336.04,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,4,"POLYGON ((248335.665 7517193.411, 248334.175 7..."
2,0,27423.00,2,Cana,/workspaces/acp-399-01/data/input/temp/30_03_1...,4,"POLYGON ((248515.075 7516760.614, 248499.688 7..."

Uso_solo_hidrografia.shp
Index(['id', 'area', 'uso', 'descricao', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,uso,descricao,path,nascente,geometry
0,0,29144.00,7,Vegetação em regeneração,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250237.985 7515543.349, 250230..."
1,0,37182.40,1,Vegetação Nativa,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250245.869 7515649.024, 250237..."
2,0,58092.80,2,Cana,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"MULTIPOLYGON (((250188.031 7515601.436, 250181..."
3,0,945.69,6,Agricultura,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"POLYGON ((250284.375 7515954.762, 250250.488 7..."
4,0,5549.55,5,Pastagem,/workspaces/acp-399-01/data/input/temp/30_03_1...,9,"POLYGON ((250254.020 7515743.693, 250253.970 7..."

area_Conservacao.shp
Index(['id', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,path,nascente,geometry
0,0,589558.0,/workspaces/acp-399-01/data/input/temp/Nascent...,4,"POLYGON ((248224.705 7517398.803, 248224.705 7..."

area_drenagem.shp
Index(['id', 'area', 'geometry', 'path', 'nascente'], dtype='object')

,id,area,path,nascente,geometry
0,0,593202.0,/workspaces/acp-399-01/data/input/temp/Nascent...,4,"POLYGON ((248273.819 7517389.434, 248176.970 7..."

<br>

## Junta shapefiles Específicos

Após juntar todos os shapefiles em pastas, notei a existência de shapefiles que tem o mesmo tema, porém continham nomes distintos (por exemplo, "app.shp" e "App.shp").<br>
Esse problema na nomenclatura dos arquivos, impediu que os arquivos fossem unificados e, portanto, foi necessário escrever uma função que juntava os shapefiles, mantendo apenas o primeiro e deletando os restantes.

In [ ]:
def merge_shp_specific(list_files):
    """
    Une shapefiles específicos, sobrepondo o primeiro da lista...
    Deletando os demais...
    """
    # Concatena
    gdf = gpd.GeoDataFrame(
        pd.concat(
            [gpd.read_file(i) for i in list_files],
            ignore_index=True
        ),
        crs=gpd.read_file(list_files[0]).crs
    )

    # Deleta Others Files
    driver = ogr.GetDriverByName('ESRI Shapefile')
    for file in list_files[1:]:
        if os.path.exists(file):
            driver.DeleteDataSource(file)
            print('"{file}" deletado!!')
        else:
            print(f'"{file}" não existe!')

    # Save Output
    gdf.to_file(os.path.join(list_files[0]))

In [ ]:
merge_shp_specific(
    [
        os.path.join(output_path, 'APP.shp'),
        os.path.join(output_path, 'APP_nascente.shp'),
    ]
)

In [ ]:
merge_shp_specific(
    [
        os.path.join(output_path, 'Area_conservacao.shp'),
        os.path.join(output_path, 'area_Conservacao.shp'),
    ]
)

In [ ]:
merge_shp_specific(
    [
        os.path.join(output_path, 'area_drenagem.shp'),
        os.path.join(output_path, 'Area_Drenagem.shp'),
        os.path.join(output_path, 'Area_drenagem.shp'),        
    ]
)

In [ ]:
merge_shp_specific(
    [
        os.path.join(output_path, 'Recuperacao_curso_agua.shp'),
        os.path.join(output_path, 'Recuperacao_curso_dagua.shp'),
        os.path.join(output_path, 'Recuperacao_cursodagua.shp'),        
    ]
)

<br>

## Deleta Shapefiles

Após juntar o material que considerei útil para a etapa do meu trabalho, foi possível deletar o restante do material.

In [ ]:
def delete_shp(list_files):
    """
    Delete Lista de Shapefiles
    """
    # Deleta Others Files
    driver = ogr.GetDriverByName('ESRI Shapefile')
    for file in list_files[1:]:
        if os.path.exists(file):
            driver.DeleteDataSource(file)
            print(f'"{file}" deletado!!')
        else:
            print(f'"{file}" não existe!')

In [ ]:
list_files = [
    # Lixo
    os.path.join(output_path, 'APP_total.shp'),

    # Interessa?
    os.path.join(output_path, 'Geologia.shp'),
    #os.path.join(output_path, 'Nascente.shp'),
    os.path.join(output_path, 'Pontos_geofisica.shp'),
    os.path.join(output_path, 'Recomposicao.shp'),
    os.path.join(output_path, 'Recuperacao_nascente.shp'),
    os.path.join(output_path, 'Uso_solo_APP.shp'),
    os.path.join(output_path, 'Uso_solo_app_curso_dagua.shp'),
    os.path.join(output_path, 'Uso_solo_app_nasc.shp'),
    os.path.join(output_path, 'Uso_solo_area_drenagem.shp'),
    os.path.join(output_path, 'Uso_solo_curso_agua.shp'),
    os.path.join(output_path, 'Uso_solo_hidrografia.shp'),
]

delete_shp(list_files)

In [ ]:
shutil.rmtree(temp_path, ignore_errors=True)

<br>

# Maps

<br>

## Layer: Nascentes

In [ ]:
def add_lyr_nascentes(output_path):
    # Input
    gdf = gpd.read_file(os.path.join(output_path, 'Nascente.shp'))
    gdf = gdf.to_crs(epsg=4326)
    
    # Layers
    lyr = folium.GeoJson(
        gdf,
        name='Nascentes',
        smooth_factor=1.0,
        style_function=lambda x: {
            'fillColor': '#DC143C',
            'color': '#DC143C',
            'weight': 1,
            'fillOpacity': 0.3,
        },
        highlight_function=lambda x: {
            'weight': 3,
            'fillOpacity': 0.6,
        },
        tooltip=folium.features.GeoJsonTooltip(
            fields=['nascente'],
            aliases=['Nascente'],
            sticky=True,
            opacity=0.9,
            direction='right',
        ),
    #     popup=folium.GeoJsonPopup(
    #         ['popup'],
    #         parse_html=False,
    #         max_width='400',
    #         show=False,
    #         labels=False,
    #         sticky=True,            
    #     ),
        embed=False,
        zoom_on_click=False,
        control=True,
        show=True,
    )
    return lyr

<br>

## Layer: Área Contribuição

In [ ]:
def add_lyr_areadrenagem(output_path):
    # Input
    gdf = gpd.read_file(os.path.join(output_path, 'area_drenagem.shp'))
    gdf = gdf.to_crs(epsg=4326)
    
    # Layers
    lyr = folium.GeoJson(
        gdf,
        name='Área de Contribuição',
        smooth_factor=1.0,
        style_function=lambda x: {
            'fillColor': '#DC143C',
            'color': '#DC143C',
            'weight': 1,
            'fillOpacity': 0.3,
        },
        highlight_function=lambda x: {
            'weight': 3,
            'fillOpacity': 0.6,
        },
        tooltip=folium.features.GeoJsonTooltip(
            fields=['nascente'],
            aliases=['Nascente'],
            sticky=True,
            opacity=0.9,
            direction='right',
        ),
    #     popup=folium.GeoJsonPopup(
    #         ['popup'],
    #         parse_html=False,
    #         max_width='400',
    #         show=False,
    #         labels=False,
    #         sticky=True,            
    #     ),
        embed=False,
        zoom_on_click=False,
        control=True,
        show=True,
    )
    return lyr

<br>

## Maps

In [ ]:
def get_map(input_shp):
    # Input
    gdf = gpd.read_file(input_shp)
    gdf = gdf.to_crs(epsg=4326)
    sw = gdf.bounds[['miny', 'minx']].min().values.tolist()
    ne = gdf.bounds[['maxy', 'maxx']].max().values.tolist()
    bounds = [sw, ne]
    
    # Zoom
    min_zoom = 10
    max_zoom = 18
    
    # Create Map
    m = folium.Map(
        #zoom_start=10,
        min_zoom=min_zoom,
        max_zoom=max_zoom,
        max_bounds=True,
        #zoom_delta=0.1,s
        min_lat=bounds[0][0]*(101/100),
        min_lon=bounds[0][1]*(101/100),
        max_lat=bounds[1][0]*(99/100),
        max_lon=bounds[1][1]*(99/100),
        tiles=None,
    )
    
    # Add Layers
    m.add_child(tt.add_lyr_google_terrain(min_zoom, max_zoom))
    m.add_child(tt.add_lyr_google_hybrid(min_zoom, max_zoom))
    m.add_child(tt.add_lyr_google_streets(min_zoom, max_zoom))
    m.add_child(tt.add_lyr_google_satellite(min_zoom, max_zoom))

    # Outros Layers
    m.add_child(add_lyr_nascentes(output_path))
    m.add_child(add_lyr_areadrenagem(output_path))
    #m.add_child(add_lyr_car())
    #m.add_child(add_lyr_divisa_municipal())
    #m.add_child(add_lyr_macrozona())
    #m.add_child(add_lyr_wms())
    
    # Plugins
    m.fit_bounds(bounds)
    plugins.Fullscreen(
        position='topleft',
        title='Clique para Maximizar',
        title_cancel='Mininizar',
    ).add_to(m)
    folium.LayerControl(
        position='topright',
        collapsed=False
    ).add_to(m)
    return m

In [ ]:
# Create Map
m = get_map(os.path.join(shps_path, 'Nascente.shp'))

# Results
m.save(os.path.join(maps_path, 'acp-399-01_map.html'))
m